header {
  padding-top: 2rem;
}

.navbar-icons * {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.typewriter-text > .typewriter-curr {
  border-right: 0.2rem solid;
}

button.header-button {
  border-color: rgb(100, 100, 100);
  color: black;
}

button.header-button:hover {
  border-color: black;
}

.header {
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.aboutme {
  color: white;
  background-color: black;
  width:100%;
}

.grid-flex {
  display: flex;
  justify-content: center;
}

.profile-picture {
  width: 100%;
  height: fit-content;
}

.skills-images img {
  max-width: 75%;
  max-height: 100%;
  display: block;
}